<h1><%= "#{@user}'s Dashboard" %></h1>


<h2>Features</h2>

<ul>

    <li>
        <%= link_to "Record Steps", new_step_path %>
    </li>

    <li>
        <%= link_to "Record Sleep", new_sleep_path %>
    </li>

    <li>
          <%= link_to "See Weather", forecast_path %>
    </li>

</ul>
