<table>
  <thead>
    <tr>
      <th>Date: </th>
      <th>Steps: </th>
    </tr>
  </thead>

  <% @steps.each do |step| %>
  <tbody>
    <tr>
        <td><%= link_to step.date   , step_path(step) %></td>
        <td><%= link_to step.count  , step_path(step) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
