/* Form Styles */

label {
    color: $color-text;
    font: {
        @include fntz(1);
    }
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    border-bottom: 1px solid $color-text;
}

input {
    background-color: transparent;
    border: 2px solid $color-text;
    border-radius: 0.15rem;
    color: $color-text;
    font: {
        @include fntz(1.25);
        weight: 400;
    }
    margin-top: 2rem;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
}
