/* Form Styles */

label {
    color: $color-text;
    font: {
        @include fntz(1);
    }
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    border-bottom: 1px solid $color-text;
}
