/* Form Styles */

label {
    color: $color-text;
    font: {
        @include fntz(1);
    }
}

[type="checkbox"] + label:before {
    border: 2px solid $color-text;
}

[type="checkbox"]:checked + label:before {
    border-right: 2px solid $color-text;
    border-bottom: 2px solid $color-text;
}

.field {

    input {
        border-bottom: 1px solid $color-text;
        font: {
            @include fntz(1.5);
        }

        &:focus:not([readonly]) {
            border-bottom: 2px solid $color-text;
        }

    }

}

.actions input {
    background-color: $color-text;
    border: none;
    border-radius: 0.15rem;
    color: $color-box-text;
    font: {
        @include fntz(1.25);
        weight: 400;
    }
    margin-top: 2rem;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
}

#form-submit input {
    background-color: $color-text;
    border: none;
    border-radius: 0.15rem;
    color: $color-box-text;
    font: {
        @include fntz(1.25);
        weight: 400;
    }
    margin-top: 2rem;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
}
