/* Global Styles */

html {
    color: $color-text;
    font: {
        family: $font-text;
        size: 100%;
        weight: 300;
    }
}

body {
    background-color: $color-day;
    font: {
        @include fntz(1.25);
    }
}

.container {
    margin: 0 auto;
    width: 60%;
}

a {
    color: $color-text;
}
