/* Variables */

// Color

$color-text: #FFFFFF;
$color-box-text: #222222;

$color-morning: orange;
$color-day: #2196f3;
$color-evening: forestgreen;
$color-night: #673ab7;

// Typography

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,900,400,400italic);

$font-text: 'Source Sans Pro', sans-serif;
